body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
.orange-text{
    color: orange;
}
section{
    display: flex;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.button-color{
    background-image: linear-gradient(#007fed, #1b588d);
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
}
.half-width{
    width: 50%;
    padding-left: 4%;
}
.half-width img{
    width: 70%;
}