body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-text{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.button-color{
    background-image: linear-gradient(#007fed, #1b588d);
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
}
.half-width{
    width: 50%;
    padding-left: 4%;
}
.half-width img{
    width: 90%;
}
.middle-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-box{
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    width: 40%;
    padding-left: 25px;
}
.orange-border{
    border-left: 7px solid orange;
}
.blue-border{
    border-image: linear-gradient(blue, gray) 5px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}